<div class='row'>
  <div class='col-md-8 col-md-offset-2'>
    <div class='well'>

      <h2>Resend confirmation instructions</h2>

      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :class => 'form-control' %>
        </div>

        <%= f.submit "Resend confirmation instructions", :class => "btn btn-primary" %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>