<div class="form-group">
  <%= f.label :email, class: 'col-md-4 control-label' %>
  <div class="col-md-6">
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :username, class: 'col-md-4 control-label' %>
  <div class="col-md-6">
    <%= f.text_field :username, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, class: 'col-md-4 control-label' %>
  <div class="col-md-6">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    <% if @validatable %><span class="help-inline"><%= @minimum_password_length %> characters minimum.</span><% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, class: 'col-md-4 control-label' %>
  <div class="col-md-6">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>
</div>
