<p class="fields">
  <%= f.label :credential_name, "Name" %>
  <%= f.text_field :credential_name %>
  <%= f.label :credential_value, "Value" %>
  <%= f.text_field :credential_value %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_function "remove", "remove_fields(this)" %>
</p>
