<p class="fields">
  <%= f.label :credential_name, "Name" %>
  <%= f.text_field :credential_name %>
  <%= f.label :credential_value, "Value" %>
  <%= f.text_field :credential_value %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_fields("remove", f) %>
</p>

