<div class='container'>
  <div class='row'>
    <div class='span8 offset2'>
      <div class='well'>

        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
          <%= devise_error_messages! %>

          <div class="control-group">
            <%= f.label :email, :class => 'control-label' %>
            <div class="controls">
              <%= f.email_field :email, :class => 'span4' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :username, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :username, :class => 'span4' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password, :class => 'control-label' %>
            <div class="controls">
              <%= f.password_field :password, :autocomplete => "off", :class => 'span4' %>
              <span class="help-inline">Leave blank if you don't want to change it.</span>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password_confirmation, :class => 'control-label' %>
            <div class="controls">
              <%= f.password_field :password_confirmation, :class => 'span4' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :current_password, :class => 'control-label' %>
            <div class="controls">
              <%= f.password_field :current_password, :class => 'span4' %>
              <span class='help-inline'>We need your current password to confirm your changes.</span>
            </div>
          </div>

          <div class='form-actions'>
            <%= f.submit "Update", :class => "btn btn-primary" %>
          </div>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
