<% content_for :title, "Reset password" -%>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <div class='well'>
      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :login, :class => 'col-md-2 col-md-offset-2 control-label' %>
          <div class="col-md-6">
            <%= f.text_field :login, autofocus: true, :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-10">
            <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

      <hr>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
