<div class='container'>

  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2>Welcome to Huginn!</h2>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <p>
        You have created <span class="text-success"><%= pluralize current_user.agents.count, "agent" %></span>.
      </p>
      <p>
        <%= link_to 'View <i class="icon-chevron-right"></i>'.html_safe, agents_path, class: "btn btn-primary" %>
      </p>
    </div>
    <div class='col-md-6'>
      <p>
        Your agents have recorded
        <span class="text-success"><%= pluralize current_user.events.recent.count, "event" %> recently</span> and
        <span class=""><%= pluralize current_user.events.count, 'event' %> in total</span>.
      </p>
      <p>
        <%= link_to 'View <i class="icon-chevron-right"></i>'.html_safe, events_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>

  <div class='row' style='min-height: 250px'></div>

  <div class='row'>
    <div class='col-md-10'>
      <blockquote>
        <p>...two ravens named Huginn and Muninn sit on Odin's shoulders. The ravens tell Odin everything they see and
          hear. Odin sends Huginn and Muninn out at dawn, and the birds fly all over the world before returning at
          dinner-time. As a result, Odin is kept informed of many events.</p>
          <small><a href="http://en.wikipedia.org/wiki/Huginn_and_Muninn">Wikipedia</a>, in reference to
            <em>Gylfaginning</em></small>
      </blockquote>
    </div>
    <div class='col-md-2'>
      <%= image_tag 'odin.jpg', :class => 'img-responsive img-rounded', :title => "Wägner, Wilhelm. 1882. Nordisch-germanische Götter und Helden. Otto Spamer, Leipzig & Berlin. Page 7." %>
    </div>
  </div>

</div>
