<% if @agent.errors.any? %>
  <div class="row well">
    <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this Agent from being saved:</h2>
    <% @agent.errors.full_messages.each do |msg| %>
      <p class='text-warning'><%= msg %></p>
    <% end %>
  </div>
<% end %>

<%= form_for(@agent,
             :as => :agent,
             :url => @agent.new_record? ? agents_path : agent_path(@agent),
             :method => @agent.new_record? ? "POST" : "PUT") do |f| %>

  <div class="row">
    <div class="col-md-6">
      <div class="row">

        <!-- Form controls width restricted -->
        <div class="col-md-8">
          <% if @agent.new_record? %>
            <div class="form-group type-select">
              <%= f.label :type %>
              <%= f.select :type, options_for_select(Agent.types.map(&:to_s).sort.map {|type| [type.gsub(/^.*::/, ''), type] }, @agent.type), {}, :class => 'select2 form-control' %>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :schedule, :class => 'control-label' %>
            <div class="schedule-region" data-can-be-scheduled="<%= @agent.can_be_scheduled? %>">
              <%= f.select :schedule, options_for_select(Agent::SCHEDULES.map {|s| [s.humanize.titleize, s] }, @agent.schedule), {}, :class => 'form-control' %>
              <span class='cannot-be-scheduled text-info'>This type of Agent cannot be scheduled.</span>
            </div>
          </div>

          <div class='event-related-region' data-can-create-events="<%= @agent.can_create_events? %>">
            <div class="form-group">
              <%= f.label :keep_events_for, "Keep events" %>
              <%= f.select :keep_events_for, options_for_select(Agent::EVENT_RETENTION_SCHEDULES, @agent.keep_events_for), {}, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :sources %>
            <div class="link-region" data-can-receive-events="<%= @agent.can_receive_events? %>">
              <% eventSources = (current_user.agents - [@agent]).find_all { |a| a.can_create_events? } %>
              <%= f.select(:source_ids,
                           options_for_select(eventSources.map {|s| [s.name, s.id] },
                                              @agent.source_ids),
                           {}, { :multiple => true, :size => 5, :class => 'select2 form-control' }) %>
              <span class='cannot-receive-events text-info'>This type of Agent cannot receive events.</span>
              <%= f.label :propagate_immediately, :class => 'propagate-immediately' do %>Propagate immediately
                <%= f.check_box :propagate_immediately %> 
              <% end %>
            </div>
          </div>
        </div>

        <!-- Form controls full width -->
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :options %>
            <textarea rows="10" id="agent_options" name="agent[options]" class="form-control live-json-editor <%= (@agent.new_record? && @agent.options == {}) ? "showing-default" : "" %>">
              <%= Utils.jsonify((@agent.new_record? && @agent.options == {}) ? @agent.default_options : @agent.options) %>
            </textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class='well description'>
            <%= @agent.html_description unless @agent.new_record? %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class='well event-descriptions' style='display: none'></div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-md-12">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
      
<% end %>
