<% content_for :title, "Edit " + @agent.name -%>

<div class='container'>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2>
          Editing your <%= @agent.short_type %>
          <%= image_tag "spinner-arrows.gif", :class => "spinner", :id => 'agent-spinner' %>
        </h2>
      </div>
    </div>
  </div>
  <div id="agent-form">
    <%= render 'form' %>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <%= link_to icon_tag('glyphicon-chevron-left') + ' Back', agents_path, class: "btn btn-default" %>
        <%= link_to icon_tag('glyphicon-asterisk') + ' Show', agent_path(@agent), class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
