<div class='container'>
  <div class='row'>
    <div class='span8 offset2'>
      <div class='well'>

        <h2>Sign in</h2>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
          <div class="control-group">
            <%= f.label :login, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :login, :class => 'span4' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password, :class => 'control-label' %>
            <div class="controls">
              <%= f.password_field :password, :class => 'span4' %>
            </div>
          </div>

          <div class="control-group">
            <% if devise_mapping.rememberable? %>
              <div class='controls'>
                <label class='checkbox'>
                  <%= f.check_box :remember_me %> Remember me
                </label>
              </div>
            <% end -%>
          </div>

          <div class='form-actions'>
            <%= f.submit "Sign in", :class => "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>