<div class="row">
  <div class="page-header">
    <h2>
      Import a Public Scenario
    </h2>
  </div>
</div>

<div class='row'>
  <blockquote>You can import Scenarios, either from a <code>.json</code> file, or via a public
    Scenario URL. When you import a Scenario, Huginn will keep track of where it came from and
    later let you update it.</blockquote>
</div>

<div class='row'>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :url, 'Option 1: Provide a Public Scenario URL' %>
      <%= f.text_field :url, :class => 'form-control', :placeholder => "Public Scenario URL" %>
    </div>

    <div class="form-group">
      <%= f.label :file, 'Option 2: Upload a Scenario JSON File' %>
      <%= f.file_field :file, :class => 'form-control' %>
    </div>

    <div class='form-actions'>
      <%= f.submit "Start Import", :class => "btn btn-primary" %>
    </div>
  </div>
</div>